@{
    Layout = "~/Views/Shared/_LayoutNewCustomer.cshtml";
}
@if (TempData["BookingFlowerMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["BookingFlowerMessage"]</p>
}
@if (TempData["BookingCompleted"] != null)
{
    <p class="alert alert-success" id="successMessage1">@TempData["BookingCompleted"]</p>
}


@*<div class="container">*@
   @* <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Food</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <div class="float-sm-right">
                        @Html.ActionLink("Create","Add","Food",new{},new {@class="btn btn-primary"})
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->*@
    <div class="py-2" style="width:100%; margin:0 auto;">

        <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @*<th>Booking ID</th>*@
                    <th>Booking No</th>
                    <th>Booking Date</th>
                    <th>Booking Approval</th>
                    <th>Booking Approval Date</th>
                    <th>Print</th>
                    <th>Show Order</th>
                    <th>Cancel Booking</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/ShowAllBooking/LoadAllBookings",
                    "type": "POST",
                    "datatype": "json"
                },
              
                //"columnDefs":
                //[{
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false
                //}
                //],
                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [4, 5,6]
                }],
                "columns":
                [
                    //{ "data": "BookingID", "name": "BookingID" },
                    { "data": "BookingNo", "name": "BookingNo", "autoWidth": true },
                    { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                    { "data": "BookingApproval", "name": "BookingApproval" },
                    { "data": "BookingApprovalDate", "name": "BookingApprovalDate" },
                    {
                        data: null, render: function (data, type, row)
                        {
                            return row.BookingApproval == "Approved" ?
                                '<a class="btn btn-info" href="/PrintOrder/Print?BookingNo=' + row.BookingNo + '">Print Recepit</a>' : row.BookingApproval;
                        }
                    },
                    {
                        data: null, render: function (data, type, row)
                        {
                            return row.BookingApproval == "Approved" ?
                                '<a class="btn btn-info" href="/ShowAllBooking/ShowOrder?BookingNo=' + row.BookingNo + '">Show Order</a>' : row.BookingApproval;
                        }
                    },
                    {
                        data: null, render: function (data, type, row)
        {
                            return row.BookingApproval == "Approved" ? "<a href='#' class='btn btn-danger' onclick=CancelBooking('" + row.BookingID + "'); >Cancel Booking</a>": "-----";
                        }
                    },
                ]

            });
        });

        setTimeout(successMessage, 6000);
        function successMessage() {
            $("#successMessage").fadeOut();
            $("#successMessage1").fadeOut();
        }
        function CancelBooking(ID)
        {
            if (confirm("Are you sure you want to Cancel Booking ...?"))
            {
                Delete(ID);
            }
            else {
                return false;
            }
        }

        function Delete(BookingID)
    {
        var url = '@Url.Content("~/")' + "ShowAllBooking/CancelBooking";

        $.post(url, { BookingID: BookingID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#myTable').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
    }


    </script>
@*
</div>*@