@{
    Layout = "~/Views/Shared/_LayoutNewCustomer.cshtml";
}
<div class="container">
    @if (ViewData["BookingFlowerMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@ViewData["BookingFlowerMessage"]</p>
        <h3>Process Completed Download Receipt</h3>
        <p>
            @Html.ActionLink("Show Receipt", "AllBookings", "ShowAllBooking")
        </p>
    }
</div>