@{
    Layout = "~/Views/Shared/_AdminNewLayout.cshtml";
}

<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("AllBookings","ShowBookingDetails")" class="nav-link"><strong>Booking Approvals</strong></a>
        </li>
    </ul>

    @*<!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="@Url.Action("Add","Venue")" class="btn btn-primary" title="Add" style="margin-right:17px;"><i class="fa fa-plus"></i><span class="p-2">Add</span></a>
        </li>
    </ul>*@
</nav>
<div class="content">
    <div class="container-fluid py-3">
        @if (TempData["VenueUpdateMessage"] != null || TempData["VenueMessage"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["VenueUpdateMessage"]@TempData["VenueMessage"]</p>
        }
    <div style="width:100%; margin:0 auto;">

        <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @*<th>BookingID</th>*@
                    <th>Booking No</th>
                    <th>Booking Date</th>
                    <th>Booking Approval</th>
                    <th>Booking Approval Date</th>
                    <th>Process</th>
                </tr>
            </thead>
        </table>
        </div><!-- /.container-fluid -->
    </div><!-- /.content -->
    <script>
        $(document).ready(function ()
        {
            $("#myTable").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/ShowBookingDetails/LoadAllBookings",
                    "type": "POST",
                    "datatype": "json"
                },
                //"columnDefs":
                //[{
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false
                //}],
                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [4]
                }],
                "columns":
                [
                        //{ "data": "BookingID", "name": "BookingID", "onpagehide": true }, row.BookingApproval == "Cancelled" ? '<span class="badge badge-pill badge-warning"' + row.BookingNo + '">Cancelled</span>' : row.BookingApproval;
                    { "data": "BookingNo", "name": "BookingNo", "autoWidth": true },
                    { "data": "BookingDate", "name": "BookingDate", "autoWidth": true },
                    { "data": "BookingApproval", "name": "BookingApproval" },
                    { "data": "BookingApprovalDate", "name": "BookingApprovalDate" },
                    {
                        "data": null, render: function (data, type, row)
                        {
                            return row.BookingApproval == "Pending" ?
                                    '<a class="badge badge-pill badge-info fs-initial" href="/ShowBookingDetails/BookingApproval?BookingNo=' + row.BookingNo + '">Process</a>' :
                                    row.BookingApproval == "Cancelled" ? '<span class="badge badge-pill badge-warning fs-initial">Cancelled</span>' :
                                        row.BookingApproval == "Approved" ? '<span class="badge badge-pill badge-success fs-initial">Approved</span>' :
                                            row.BookingApproval == "Rejected" ? '<span class="badge badge-pill badge-danger fs-initial">Rejected</span>' : row.BookingApproval;
                        }
                    },
                ]

            });
        });


        function DeleteData(ID) {
            if (confirm("Are you sure you want to delete ...?")) {
                DeleteLight(ID);
            }
            else {
                return false;
            }
        }



    </script>

</div>