@{
    Layout = "~/Views/Shared/_LayoutNewCustomer.cshtml";
}
<div class="container">
@if (ViewData["BookingFoodMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@ViewData["BookingFoodMessage"]</p>
    <h3>Next Process Book Lightings</h3>
    <p>
        @Html.ActionLink("Click Here to Book Lightings", "BookLight", "BookLight")
    </p>
}
</div>